/* Start Header Section */
.header-top {
	display: none;
}

.header-content {
	position: relative;
	background: #000000;
	padding: 20px;
}
.header-content img {
	content: url('../img/footer-logo.png');
}

.header-menu {
	display: none;
}

.header-option {
	display: none;
}
/* End Header Section */



/* Start Mobile Menu */
.mobile-menu-toggle {
	display: block;
}

.mobile-menu {
	position: fixed;
	top: 0;
	left: -250px;
	display: block;
	background: #ffffff;
	height: 100vh;
	width: 70vw;
	padding: 50px 20px;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
	opacity: 0;
	z-index: 9;
}
.mobile-menu.active {
	left: 0;
	opacity: 1;
}
.mobile-menu img {
	margin-bottom: 50px ;	
}
.mobile-menu p {
	text-align: left;
	margin: 30px 0 0 15px;	
}

.mobile-menu-top {
	text-align: center;
}
.mobile-menu-top li {
	display: inline-block;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: 700;
}
.mobile-menu-top li a {
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}
.mobile-menu-top li a:hover {
	color: #dc3545;
}

.mobile-dropdown {
	position: relative;
}
.mobile-dropdown-menu {
	background: #0000002a;
	color: #ffffff;
	display: none;
	position: absolute;
	border-radius: 2px;
	top: 100%;
	left: 0;
	padding: 5px 0;
	z-index: 99;
}
.mobile-dropdown:hover .mobile-dropdown-menu {
	display: block;
}

.mobile-menu-option {
	text-align: center;
	padding: 20px 0;
}
.mobile-menu-option li {
	display: inline-block;
	margin: 5px 10px;
}
.mobile-menu-option-icon {
	color: #000000;
	font-size: 20px;
	cursor: pointer;
}

.mobile-menu-main {
	text-align: left;
}
.mobile-menu-main li {
	list-style: none;
	margin: 5px;
	padding: 5px 10px;
	font-size: 15px;
	cursor: pointer;
}
.mobile-menu-main li a {
	color: #000000;
	text-decoration: none;
	font-weight: 600;
}
.mobile-menu-main li a:hover {
	color: #dc3545;
}

.mobile-page-dropdown {
	position: relative;
}
.mobile-page-dropdown-menu {
	display: none;
	position: static;
	top: 100%;
	left: 0;
	padding: 5px 0;
}
.mobile-page-dropdown-menu li a {
	color: #000000;
	font-size: 15px;
}
.mobile-page-dropdown-menu li a:hover {
	color: #dc3545;
}
.mobile-page-dropdown:hover .mobile-page-dropdown-menu {
	display: block;
}
/* End Mobile Menu */



/* Start Hero Section */
.swiper-slide {
	background-position: 55%;
	align-items: flex-start;
	position: relative;
}
.swiper-slide-content {
	width: 68%;
	margin-left: 30px;
	padding: 30% 0;
}
.swiper-slide-content h2 {
	padding: 10px 0;
	font-size: 32px;
	font-weight: 750;
	line-height: 35px;
}
.swiper-slide-content p {
	margin-bottom: 20px;
}

.swiper-button-next {
	margin-top: 35vh !important;
	left: 140px !important;
}
.swiper-button-prev {
	margin-top: 35vh !important;
	left: 40px !important;
}
/* End Hero Section */



/* Start Banner Section */
.banner {
	padding-top: 50px;
}
.banner-item {
	width: 75%;
	margin: 50px 0;
}
.banner-item img {
	width: 100%;
	height: auto;
}
.banner-item h3 {
	font-size: 25px;
	padding: 5px 0;
}

.banner-item:nth-child(even) {
	align-self: center;
}
.banner-item:nth-child(odd) {
	align-self: center;
}
.banner-item:nth-child(2),
.banner-item:nth-child(3) {
	margin-top: 0;
}
/* End Banner Section */



/* Start Product Section */
.product {
	padding: 50px 20px 100px 20px;
}

.filter-controls {
	padding: 0;
}
.filter-controls button {
	margin: 30px 10px;
	font-size: 17px;
}

.product-container {
	flex-direction: row;
	gap: 0;
}
.product-item {
	flex: 0 0 80%;
	margin: 15px 30px;
	text-align: center;
}
.product-item h6 {
	font-size: 20px;
	font-weight: 750;
	padding-top: 5px;
}
.product-item span * {
	margin: 0 -2.5px 0 -2.5px;
}

.product-item-options {
	opacity: 1;
	transform: translateX(0px);
}

.product-item:hover .product-item-color {
	opacity: 0;
}
/* End Product Section */



/* Start Event Section */
.event {
	flex-direction: column;
	padding: 50px 40px;
}

.event-filter {
	flex: 0 0 100%;
}
.event-filter::before {
	height: 120%;
	width: 130%;
	top: -10%;
	left: -105%;
}
.event-filter button {
	margin: 5px 0;
	padding-left: 10px;
	font-size: 23px;
}

.event-items {
	flex: 0 0 100%;
}
.event-items .item {
	flex-direction: column;
}

.event-item-image {
	flex: 0 0 100%;
	margin: 70px 0 30px 0;
}

.event-item-details {
	flex: 0 0 100%;
	padding: 0;
}
.event-item-details h2 {
	padding: 10px 0;
	font-size: 28px;
	font-weight: 750;
	line-height: 38px;
}

.count-down {
    display: flex;
    gap: 30px;
}
.count-down div {
	width: 40px;
    font-size: 14px;
}
.count-down .dynamic {
    font-size: 30px;
}
.count-down div::after {
    font-size: 28px;
}
/* End Event Section */



/* Start Instagram Section */
.instagram {
	flex-direction: column;
	padding: 50px 40px 100px 40px;
}

.instagram-img {
	flex: 0 0 100%;
	order: 2;
	text-align: center;
}
.instagram-img img {
	width: 49%;
}

.instagram-content {
	flex: 0 0 100%;
	order: 1;
	padding: 30px 0;
}
.instagram-content h3 {
	font-size: 30px;
}
.instagram-content p {
	padding: 10px 0;
}
.instagram-content span {
	font-size: 22px;
}
/* End Instagram Section */



/* Start News Section */
.news {
	padding: 0 40px 50px 40px;
}
.news h3 {
	padding: 10px 0 30px 0;
	font-size: 25px;
}

.news-container {
	flex-direction: column;
	gap: 80px;
}

.news-item img {
	width: 100%;
	height: auto;
}
.item-details {
	width: 85%;
}
/* End News Section */



/* Start Footer Section */
footer {
	padding: 20px 40px;
}

.footer {
	flex-direction: column;
	padding: 50px 0 30px 0;
}
.footer h4 {
	margin-top: 30px;
	padding-bottom: 5px;
}
.footer div:nth-child(1),
.footer div:nth-child(4) {
	flex: 0 0 100%;
}
.footer div:nth-child(2),
.footer div:nth-child(3) {
	flex: 0 0 100%;
}

.footer-content p {
	padding: 10px 0;
}

.footer-menu ul li {
	padding: 3px 0;
}

.footer-newsletter .input-field {
	margin: 15px 0;
}
.input-field .icon {
	font-size: 25px;
}
/* End Footer Section */




/* Page CSS */
.navigation {
    margin-bottom: 50px;
	padding: 30px 0 30px 10%;
}

/* Start About Page */
.about {
    padding: 0 5%;
}
.about-item {
	flex-direction: column;
    gap: 10px;
}

.testimonial {
    flex-direction: column;
    margin-top: 50px;
}
.testimonial-info {
	order: 2;
    padding: 0 30px 30px 30px;
}
.testimonial-info span {
    font-size: 80px;
}
.testimonial-img {
	order: 1;
}

.counter {
	flex-wrap: wrap;
    padding: 70px 5% 50px 5%;
}
.counter-item {
    flex: 0 0 50%;
	padding: 20px 0;
}

.team {
    margin: 0 10%;
	padding: 100px 10%;
}
.team-container {
	flex-wrap: wrap;
	gap: 50px;
}
.team-item {
    flex: 0 0 100%;
}

.client {
    padding: 0 10% 100px 10%;
}
.client-container img {
    margin-top: 60px;
}
/* End About Page */



/* Start Shopping Cart Page */
.cart {
    padding: 0 5%;
}

.cart-details {
	flex: 0 0 100%;
	margin: 0 auto;
    padding-bottom: 50px;
}
.cart-quantity span {
    margin: 0 5px;
}

.cart-options {
	flex: 0 0 70%;
	margin: 0 auto;
	margin-bottom: 50px;
}
/* End Shopping Cart Page */



/* Start Checkout Page */
.checkout {
	flex-direction: column;
    gap: 50px;
    padding: 0 10% 100px 10%;
}
/* Start Checkout Page */



/* Start Blog-details Page */
.blog {
    padding: 0 5%;
}
.blog h2 {
    font-size: 30px;
    padding: 0;
}

.blog-info span {
    padding: 0 5px;
    
}
.blog-info span:nth-child(1):after,
.blog-info span:nth-child(2):after {
    content: "|";
    margin-left: 10px;
}

.blog-author span {
    font-size: 14px;
    padding: 0 3px;
}

.form {
    padding: 40px 50px;
}
.form input {
    flex: 0 0 100%;
}
/* End Blog-details Page */



/* Start Contact Page */
.contact-form {
    padding: 0 5%;
}
/* End Contact Page */