/* Start Default */
.navigation {
    background: #f3f2ee;
    margin-bottom: 100px;
    padding: 50px 0 50px 15%;
}
.navigation h3 {
    font-size: 25px;
    margin-bottom: 10px;
}
.navigation p {
    font-size: 15px;
    font-weight: 500;
}
.navigation p span {
    color: #8a8989;
}
/* End Default */



/* Start About Page */
.about {
    padding: 0 15%;
}
.about img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.about-item {
    display: flex;
    gap: 50px;
    justify-content: space-around;
}
.about-item .item h3 {
    font-size: 20px;
}
.about-item .item p {
    font-size: 15px;
    padding: 10px 0;
}

.testimonial {
    display: flex;
    background: #f3f2ee;
    margin-top: 100px;
}
.testimonial-info {
    flex: 0 0 50%;
    padding: 50px 120px;
    text-align: center;
}
.testimonial-info span {
    color: #dc3545;
    font-size: 100px;
    font-weight: 900;
}
.testimonial-info p {
    padding: 10px 0;
    font-size: 17px;
    line-height: 25px;
}
.testimonial-author {
    display: inline-flex;
    align-items: center;
    text-align: left;
}
.testimonial-author img {
    border-radius: 50%;
    margin: 20px;
}
.testimonial-author h4 {
    font-size: 18px;
}
.testimonial-author h5 {
    color: #8a8989ad;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}
.testimonial-img {
    flex: 0 0 50%;
}
.testimonial-img img {
    width: 100%;
    height: 100%;
}

.counter {
    display: flex;
    padding: 100px 15% 80px 15%;
}
.counter-item {
    flex: 0 0 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter-item span {
    padding: 0 15px;
    font-size: 45px;
    font-weight: 700;
}

.team {
    border-top: 1px solid #8a898984;
    margin: 0 15%;
    padding: 100px 0;
    text-align: center;
}
.team span,
.client span {
    color: #dc3545;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}
.team h3,
.client h3 {
    font-size: 32px;
    font-weight: 700;
    padding: 10px;
}
.team-container {
    display: flex;
    gap: 30px;
    padding-top: 30px;
}
.team-item {
    flex: 0 0 calc((100% - 90px)/4);
    text-align: left;
}
.team-item img {
    width: 100%;
    height: auto;
}
.team-item h4 {
    padding: 15px 0 10px 0;
    font-size: 20px;
    font-weight: 750;
}
.team-item h5 {
    color: #8a8989;
    font-weight: 400;
}

.client {
    padding: 0 15% 100px 15%;
    text-align: center;
}
.client-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 22%;
}
.client-container img {
    flex: 0 0 calc((100% - 66%)/4);
    margin-top: 80px;
    cursor: pointer;
    transition: all 0.8s ease;
}
.client-container img:hover {
    transform: scale(1.1);
}
/* End About Page */



/* Start Favourite Page */
.favourite {
    padding: 0 15% 100px 15%;
}
.favourite .product-item{
    display: flex;
	flex-direction: column;
	animation: productShow 1s cubic-bezier(0.22, 1, 0.36, 1);
}
/* End Favourite Page */



/* Start Shopping Cart Page */
.cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15%;
}

.cart-details {
    flex: 0 0 65%;
    padding-bottom: 100px;
}

.cart-title ,
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #8a898923;
}
.cart-title {
    padding-bottom: 20px;
}
.cart-title span {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.cart-title span:nth-child(1) {
    flex: 0 0 35%;
}
.cart-product {
    flex: 0 0 38%;
    display: flex;
    align-items: center;
}
.cart-product img {
    margin-right: 20px;
}
.cart-product h6 {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 5px;
}
.cart-product h5 {
    font-size: 17px;
}
.cart-quantity span {
    margin: 0 10px;
}
.cart-quantity ion-icon,
.cart-delete ion-icon {
    vertical-align: middle;
    cursor: pointer;
}
.cart-price {
    font-size: 17px;
    font-weight: bold;
}
.cart-delete {
    font-size: 22px;
}
.cart-update {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.cart-update a {
    background: #000000;
	color: #ffffff;
	padding: 10px 20px;
    font-size: 13px;
    font-weight: 700;
	text-decoration: none;
    text-transform: uppercase;
}
.cart-update a:first-child {
    background: #ffffff;
    color: #000000;
    border: 1px solid #8a8989ad;
}
.cart-update a:first-child:hover {
    border: 1px solid #000000;
}

.cart-options {
    flex: 0 0 30%;
}
.cart-discount {
    padding: 30px 0 50px 0;
}
.cart-discount h5 {
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.cart-discount form {
    display: flex;
    width: 100%;
}
.cart-discount form input {
    flex: 1;
    height: 40px;
    border: 1px solid #8a8989ad;
    padding: 0 20px;
    outline: none;
}
.cart-discount form button {
    flex-shrink: 0;
    width: 30%;
    height: 40px;
    border: none;
    background: #000000;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}
.cart-total {
    background: #f3f2ee;
    padding: 40px;
}
.cart-total h5 {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
.cart-total ul {
    margin: 20px 0;
}
.cart-total ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 600;
    list-style: none;
}
.cart-total ul li span {
    color: #dc3545;
    font-weight: 700;
}
.cart-total a {
    display: block;
    background: #000000;
	color: #ffffff;
	padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
	text-decoration: none;
    text-transform: uppercase;
}
/* End Shopping Cart Page */



/* Start Checkout Page */
.checkout {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 0 15% 100px 15%;
}

.checkout-form h4 {
    font-size: 22px;
    padding: 20px 0;
}
.checkout-form input {
    width: 100%;
    margin: 20px 0;
    padding: 15px 20px;
    font-size: 15px;
}
.checkout-form .name {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.checkout-form input[type="text"]:focus,
.checkout-form input[type="email"]:focus {
	outline: 1px solid #000000;
}
.checkout-form .checkbox input {
    padding: 0;
    margin: 0;
}

.checkout-order {
    background: #f3f2ee;
    padding: 40px;
}
.checkout-order h5 {
    border-bottom: 1px solid #8a898984;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.checkout-order ul {
    margin: 10px 0;
}
.checkout-order ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    font-size: 15px;
    font-weight: 500;
    list-style: none;
}
.checkout-order ul li span {
    font-weight: 600;
}
.checkout-order ul:first-of-type li {
    padding: 20px 0 0 0;
    font-size: 16px;
    font-weight: 700;
}
.checkout-order ul:last-of-type {
    border-top: 1px solid #8a898984;
    padding: 10px 0;
}
.checkout-order ul:last-of-type li span {
    color: #dc3545;
    font-weight: 700;
}
.checkout-order .checkbox,
.checkout-form .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}
.checkout-order .checkbox input,
.checkout-form .checkbox input {
    appearance: none;
    height: 15px;
    width: 15px;
    border: 1px solid #8a8989ad;
    cursor: pointer;
    position: relative;
}
.checkout-order .checkbox input:checked,
.checkout-form .checkbox input:checked {
    border-color: #dc3545;
}
.checkout-order .checkbox input:checked::after,
.checkout-form .checkbox input:checked::after {
    content: "";
    position: absolute;
    left: 6px;
    top: -5px;
    height: 15px;
    width: 5px;
    border: solid #dc3545;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.checkout-order .checkbox label,
.checkout-form .checkbox label {
    font-size: 15px;
    cursor: pointer;
}
.checkout-order p {
    font-size: 15px;
    margin: 10px 0;
}
.checkout-order a {
    display: block;
    background: #000000;
	color: #ffffff;
    margin-top: 30px;
	padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
	text-decoration: none;
    text-transform: uppercase;
}
/* End Checkout Page */



/* Start Main Blog Page */
.news-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) ,url('../img/blog/blog-4.jpg');
    background-size: cover;
    background-position: 50%;
    width: 100vw;
    margin-bottom: 100px;
    padding: 130px 0;
    text-align: center;
}
.news-hero h2 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
}
/* End Main Blog Page */



/* Start Blog Details Page */
.blog {
    padding: 0 15%;
}
.blog h2 {
    font-size: 40px;
    font-weight: 700;
    padding: 0 120px;
    text-align: center;
    line-height: 45px;
}
.blog img {
    width: 100%;
    height: auto;
}

.blog-info {
    font-size: 14px;
    text-align: center;
    padding: 30px 0 60px 0;
}
.blog-info span {
    padding: 0 10px;
    
}
.blog-info span:nth-child(1):after,
.blog-info span:nth-child(2):after {
    content: "|";
    margin-left: 20px;
}

.blog-details {
    padding: 50px 20px;
}
.blog-details p {
    padding: 10px 0;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
}
.blog-details .speech {
    position: relative;
    background: #f3f2ee;
    border-radius: 5px;
    margin: 50px 0 30px 0;
    padding: 40px 50px 20px 50px;
}
.blog-details .speech .speech-quote {
    position: absolute;
    top: -30px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dc3545;
    color: #ffffff;
    height: 60px;
    width: 60px;
    font-size: 30px;
    border-radius: 50%;
}
.blog-details .speech p:first-child {
    font-style: italic;
    font-weight: 600;
    line-height: 25px;
}
.blog-details .speech p:last-child {
    color: #dc3545;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
}

.blog-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #8a898984;
    margin-top: -10px;
    padding: 15px 10px;
}
.blog-author div:first-child {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 20px;
}
.blog-author img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.blog-author span {
    font-size: 15px;
    padding: 0 5px;
    font-weight: 700;
}

.blog-comment {
    padding: 50px 0;
    text-align: center;
}
.blog-comment h3 {
    font-size: 25px;
    font-weight: 650;
}
.form {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 40px 150px;
}
.form input {
    flex: 0 0 calc((100% - 30px)/2);
    padding: 15px 20px;
    font-size: 15px;
}
.form textarea {
    flex: 0 0 100%;
    height: 200px;
    padding: 15px 20px;
    font-size: 16px;
    font-family: inherit;
    resize: none;
}
.form input:focus,
.form textarea:focus {
	outline: 1px solid #000000;
}
.form button {
    background: #000000;
    color: #ffffff;
    border: 0;
    border-radius: 3px;
    margin: 0 auto;
    padding: 15px 30px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}
/* End  Blog Details Page */



/* Start Contact Page */
.contact-form {
    padding: 0 15%;
}
.contact-form h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.map iframe {
    width: 100%;
    height: 450px;
    margin: 100px 0;
}
/* End Contact Page */